* {
  box-sizing: border-box;
  font-family: myGotham;
  font-weight: 600;
  font-size: 14px;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: myGotham;
  src: url(fonts/GothamBook.otf);
}

.page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: blue;
  background: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/859f1cff-928a-479c-a1e5-f92cfc7d3c69/bvlatuR/std/2880x1800/model-3-main-hero-b-desktop);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
}
.navbartop {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: flex-end;
}

.navitem {
  /* padding: 20px; */
  padding: 4px 8px;
  margin: 0 8px;
  color: #ffffff;
  border-radius: 20%;
  transition: all 1s ease;
  position: relative;
  cursor: pointer;
}
.navitem:hover {
  background-color: gray;
}

.middle {
  padding: 8px;
  margin-left: 80px;
}
.right {
  padding-right: 20px;
}

/*  */
/*  */
/*  */
.maincontent {
  display: flex;
  width: 100vw;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
}
.maincontent h1 {
  text-align: center;
  color: #fff;
  opacity: 0.5;
  font-size: 40px;
  margin-top: 5%;
  transform: translateY(30px);
  transition: all 1s ease;
}

.maincontent h1.show {
  transform: translateY(-20px);
  opacity: 1;
}

.box {
  transform: translateY(-200px);
  opacity: 0.5;
}
.box1 {
  transition: all 0.5s ease-in-out;
}
.box2 {
  transition: all 1s ease-in-out;
}
.box3 {
  transition: all 2s ease-in-out;
}
.box4 {
  transition: all 2.5s ease-in;
}
.box.show {
  transform: translateY(-50px);
  opacity: 1;
}

/*  */
/*  */

.sidemenu {
  position: fixed;
  z-index: 6;
  top: 35%;
  bottom: 35%;
  min-width: 100px;
}
.sidemenuitems {
  list-style: none;
  padding-left: 2px;
}
.sidemenuitem {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 15px;
  /* cursor: pointer; */
  border-left: gray 1px solid;
}
.sidemenuitem.active {
  border-left: #fff 2px solid;
}

#item1.active::after {
  content: "Model 3 ";
}
#item1:hover {
  border-left: #fff 2px solid;
}
#item1:hover::after {
  content: "Model 3";
}

#item2:hover::after {
  content: "SAFETY";
}
#item2.active::after {
  content: "SAFETY";
  color: black;
}
#item2:hover {
  border-left: #fff 2px solid;
}

#item3:hover::after {
  content: "PERFORMANCE";
}
#item3:hover {
  border-left: #fff 2px solid;
}
#item3.active::after {
  content: "PERFORMANCE";
}

#item4:hover::after {
  content: "ALL WHEEL DRIVE";
}
#item4:hover {
  border-left: #fff 2px solid;
}
#item4.active::after {
  content: "ALL WHEEL DRIVE";
}

#item5:hover::after {
  content: "RANGE";
}
#item5:hover {
  border-left: #fff 2px solid;
}
#item5.active::after {
  content: "RANGE";
}

#item6:hover::after {
  content: "AUTOPILOT";
}
#item6:hover {
  border-left: #fff 2px solid;
}
#item6.active::after {
  content: "AUTOPILOT";
}

#item7:hover::after {
  content: "INTERIOR";
}
#item7:hover {
  border-left: #fff 2px solid;
}
#item7.active::after {
  content: "INTERIOR";
}

#item8:hover::after {
  content: "SPECS";
}
#item8:hover {
  border-left: #fff 2px solid;
}
#item8.active::after {
  content: "SPECS";
}

#item9:hover::after {
  content: "ORDER";
}
#item9:hover {
  border-left: #fff 2px solid;
}
#item9.active::after {
  content: "ORDER";
}

.box1 {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box h3 {
  font-size: 28px;
}
.info {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box {
  padding: 2%;
}
.speed-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 5rem;
  height: 3rem;
}
.speed-container img {
  position: absolute;
  display: inline;
  font-size: 14px;
}
#svg1 {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#svg2 {
  opacity: 0.2;
  left: 8%;
  right: 0;
  top: 15%;
  bottom: 50%;
}
#svg3 {
  top: 15%;
  left: 26%;
  bottom: 0;
}
#ordernow {
  background: none;
  border-radius: 25px;
  border: 0.1rem solid #fff;
  color: #fff;
  padding: 10px 60px;
  font-weight: 700;
  transition: all 0.5s ease;
}
#ordernow:hover {
  background-color: #fff;
  color: black;
}

#svg3 {
  transform: rotate(-90deg);
  transform-origin: bottom;
  transition: all 1s ease-in-out;
}
#svg3.show {
  transform: rotate(90deg);
}

@media (max-width: 1200px) {
  .middle {
    display: none;
  }

  .page2 {
    flex-direction: column;
  }
  .page2 span:first-child {
    text-align: center;
  }
  .page2 h3 {
    font-size: 0.5rem;
  }
  .page2 h1 {
    font-size: 1rem;
  }

  .page2 p,
  .page2 span,
  .page2 a {
    font-size: 0.6rem;
    width: 50vw;
  }
  .page2 .twobtns {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 50%;
  }
  .page2 .twobtns #ordernow {
    font-size: 0.5rem;
    border-width: 0.2rem;
    padding: 0 3rem;
    margin-bottom: 2rem;
  }
  .page2 .twobtns #learnmore {
    padding: 0.3rem;
    border-width: 0.2rem;
  }
  .page2 .carpicture {
    width: 100vw;
  }
  .page2 .safety {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .page3 .cont {
    justify-content: center;
  }
  .leftinfo h4 {
    font-size: 16px;
    transform: translateY(90%);
  }
  .leftinfo h1 {
    font-size: 20px;
  }
  .rightinfo {
    width: 70vw;
  }
}
.page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  /* align-items: center; */
}
.page1 .arrow {
  z-index: 10;
  position: absolute;
  bottom: 0%;
  left: 50%;
  filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(163deg)
    brightness(106%) contrast(100%);
  /* right: 50%; */
}
.page2 .arrow {
  z-index: 10;
  height: 30px;
  width: 30px;
  top: 0%;
  position: absolute;
  transform: rotate(180deg);
  right: 0%;
}
.carpicture {
  background: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/ea753653-02a2-4206-aac5-82a33a0a245d/bvlatuR/std/2880x1800/model-3-hero-a-desktop);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  width: 80vw;
  height: 100vh;
}
.safety {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.safety h3 {
  padding-top: 30px;
  font-weight: 300;
  font-size: 17px;
  line-height: 10px;
}
.safety h1 {
  font-weight: 300;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}
.safety a {
  font-weight: 400;
}
.safety a:visited {
  color: black;
}
.safety span {
  font-weight: 600;
}
.safety p {
  font-weight: 400;
  padding-right: 8%;
}
.twobtns {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  position: absolute;
  bottom: 5%;
  left: 0%;
  right: 0%;
  cursor: pointer;
}
.twobtns #ordernow {
  background: none;
  border-radius: 25px;
  border: 0.3rem solid black;
  color: black;
  padding: 10px 60px;
  font-weight: 700;
  transition: all 0.5s ease;
  cursor: pointer;
}
.twobtns #ordernow:hover {
  background-color: black;
  color: white;
}
.twobtns #learnmore {
  border-radius: 50%;
  font-size: 1.5rem;
  border-color: black;
  border-width: 0.25rem;
  background-color: white;
  padding: 4%;
  cursor: pointer;
}
.twobtns #learnmore:hover {
  color: white;
  background-color: black;
  border-color: white;
}
.page3 {
  color: white;
  text-align: center;
}
.page3 .carinfo {
  background: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/3489a82e-b19c-457a-86a4-7ea9ac91aa1c/bvlatuR/std/1920x1080/lhd-performance-hero-desktop);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
}
.page3 .morecarinfo {
  display: flex;
  width: 100vw;
  height: 30vh;
  justify-content: center;
  color: black;
}
.containerr {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page3 {
  font-size: 14px;
}
.page3 .leftinfo {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.page3 .rightinfo {
  width: 35vw;
}
.page3 h2 {
  font-size: 2.3rem;
  font-weight: 700;
}
.page3 p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
}
.page3 #learnmore {
  border-radius: 50%;
  font-size: 1rem;
  border-color: black;
  border-width: 0.15rem;
  background-color: white;
  padding: 2%;
  cursor: pointer;
}
.page3 #learnmore:hover {
  color: white;
  background-color: black;
  border-color: white;
}
.page3 #ordernow {
  color: black;
  border-color: black;
}
.page3 #ordernow:hover {
  color: white;
  background-color: black;
}
.page3 h3 {
  line-height: 0%;
}
.cont {
  display: flex;
  height: 70vh;
  align-items: flex-end;
  justify-content: space-evenly;
  padding-bottom: 3%;
}
.p3box {
  position: relative;
}
.page3 .speed-container {
  position: absolute;
  left: -55%;
  top: 20%;
}
#arrow2 {
  position: absolute;
  top: 95%;
  left: 50%;
  right: 50%;
  transform: rotate(0deg);
}
